<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <form action="/produtos" method="post">
        <div>
            <label for="titulo">Título</label>
            <input type="text" id="titulo" name="titulo" placeholder="Título">
        </div>
        <div>
            <label for="preco">Preço</label>
            <input type="text" id="preco" name="preco" placeholder="0.00">
        </div>
        <div>
            <label for="descricao">Descrição</label>
            <textarea cols="80" rows="8" id="descricao" name="descricao" placeholder="Descrição"></textarea>
        </div>

        <input type="submit" value="gravar">
    </form>

</body>
</html>
